<div class="clr-row">
    <div class="clr-col-lg-5 clr-col-md-8 clr-col-12">
        <div class="card">
            <div class="card-header">
                Game {{game.id}}
            </div>
            <div class="card-block">
                <div class="card-title">
                   Title
                </div>
                <div class="card-text">
                    {{game.created}}

                </div>
            </div>

            <ul class="list-group" *ngFor="let gamePlayer of  game.gamePlayers" >
                    <li class="list-group-item">{{gamePlayer.player.email}}</li>                    
                </ul>
            <div class="card-footer">
                <button class="btn btn-sm btn-link">Play</button>
            </div>
        </div>
    </div>
</div>
<app-grid></app-grid>
